{"Professional" [{"CSI" {"CSI - Admin" ["CSI - Intro"
                                        "Ramp up"
                                        "CSI - Collaboration"
                                        "PTO - Full Day"
                                        "PTO - Holiday"]
                         "CSI - Miscellany" ["Data Curation"]
                         "CSI - Projects" ["Chevron"
                                           "TV Demo"
                                           "Pfizer"
                                           "IBM"
                                           "Evvia"
                                           {"Roche" ["Roche - Non Billable"
                                                     "Roche - Modeling"
                                                     "Roche - Project Meetings" "Roche - Environment Sizing Estimate for Production"
                                                     "Roche - Documentation"
                                                     "Roche - API"
                                                     "Roche - Meetings"
                                                     "Roche - Environment set up"
                                                     "Roche - Training"
                                                     "Roche - Non-Billable Oversight"
                                                     "Roche - Prod"
                                                     "Roche - Product issues"
                                                     "Roche - Env Setup"
                                                     "Roche - Prod Support"
                                                     "Roche - User Guides"
                                                     "Roche - Model Refinement"
                                                     "Roche - Product Issues"
                                                     {"CIT" ["Roche - Onboard CIT"
                                                             "Roche - Conform CIT"
                                                             "Roche - CIT Prod"
                                                             "Roche - CIT Performance"]
                                                      "VBC" ["Roche - Onboard VBC and Asthma"
                                                             "Roche - Onboard VBC"
                                                             "Roche - VBC Prod"
                                                             "Roche - VBC Performance"
                                                             "Roche - VBC"]
                                                      "Asthma" ["Roche - Onboard VBC and Asthma"
                                                                "Roche - Asthma Performance"
                                                                "Roche - Asthma Prod"]
                                                      "SCS" ["Roche - Onboard SCS"
                                                             "Roche - SCS Prod"]
                                                      "NHL" ["Roche - Onboard NHL"]}]
                                            "FDA" ["FDA - Fake Lake Artifacts"
                                                   "FDA - Project Ramp Up"
                                                   "FDA - GDI"
                                                   "FDA - Onboarding"
                                                   "FDA - Tech Meeting"
                                                   "FDA - Anzo Training"
                                                   "FDA - Training Project"
                                                   "FDA - Architecture"
                                                   "FDA - Fake Lake Config"
                                                   "FDA - Project Sources"
                                                   "FDA - Training for Deloitte"
                                                   "FDA - FDA Environment Installation"
                                                   "FDA - Fake Lake Data Sources"
                                                   "FDA - Data Blending"
                                                   "FDA - QC Planning and Implementation"
                                                   "FDA - Admin Support"
                                                   "FDA - Non Billable Admin Support"
                                                   "FDA - Pre-Prod Support"
                                                   "FDA - UI Prototyping"
                                                   "FDA - Dev Admin Support"
                                                   "FDA - Prod Support"]
                                            "Raytheon" ["Raytheon - Onboarding"
                                                        "Raytheon - Data Consulting"]}
                                           "SOAP"]}
                  "Reify" [{"Reify - Admin" ["Reify - Intro"
                                             "Reify - Holiday"
                                             "Reify - Meetings"]
                            "Data Products" ["ZEM"
                                             "Avienna"]}
                           "OneStudyTeam"]}
                 "Klezmer Archive"
                 "Job Search"]
 "Personal" []}
